---
---
@charset "utf-8";
@import "bootstrap/bootstrap/_variables";
* { box-sizing: border-box; }

@font-face {
    font-family: "Big Noodle Titling";
    src: url("{{ '/fonts/big-noodle-titling.ttf' | prepend: site.baseurl }}");
}

$character-color-red: #900;
$character-color-blue: #06B;
$character-color-green: #191;
$character-color-yellow: #A90;

body, html {
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 18px;
}

.anchor {
    margin-top: (-$navbar-height);
    padding-top: $navbar-height;
}

.the-team > .container-fluid {
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Big Noodle Titling";
    font-size: 64px;
    //font-variant: small-caps;

    a, a:hover {
        text-decoration: none;
        color: inherit;
    }

    &:before, &:after {
        content: "—";
        padding: 0.3em;
    }
}

h2 {
    font-family: "Big Noodle Titling";
    font-size: 48px;
    font-variant: small-caps;
}

.parallax-container {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    /*
    html.csstransforms3d & {
                perspective: 1px;
        -webkit-perspective: 1px;
           -moz-perspective: 1px;
    }*/
}

.navbar-brand {
    color: white !important;
    text-transform: uppercase;
    font-family: "Big Noodle Titling", sans;
    font-size: 24pt;
}

.navbar-nav li {
    text-transform: uppercase;
    font-family: "Big Noodle Titling";
    font-size: 18pt;

    a {
        color: #999 !important;

        &:hover {
            color: white !important;
        }
    }
}

.first-screen {
    position: relative;
    height: 100%;
}

.the-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;

    /*
    html.csstransforms3d & {
                transform: translateZ(-1px) scale(2);
        -webkit-transform: translateZ(-1px) scale(2);
           -moz-transform: translateZ(-1px) scale(2);
    }*/
}

$logo-size: 350px;
$logo-width: $logo-size;
$logo-height: $logo-size * 355 / 350;
$logo-vertical-offset: -20px;
$logo-xs-reduction: 1.5;
$shine-size: ($logo-size * 2);

.logo {
    z-index: 0;

    position: absolute;
    margin: 3em;
    left: 50%;
    top: 50%;

    width: $logo-width;
    height: $logo-height;
    margin-left: (-$logo-width / 2);
    margin-top: (-$logo-height / 2) + $logo-vertical-offset;

    @media (max-width: $screen-xs-max) {
        width: ($logo-width / $logo-xs-reduction);
        height: ($logo-height / $logo-xs-reduction);
        margin-left: (-$logo-width / (2 * $logo-xs-reduction));
        margin-top: (-$logo-height / (2 * $logo-xs-reduction));
    }
}

.logo-shine {
    z-index: -200;

    position: absolute;
    margin: 3em;
    left: 50%;
    top: 50%;

    width: $shine-size;
    height: $shine-size;
    margin-left: -($shine-size / 2);
    margin-top: -($shine-size / 2) + $logo-vertical-offset;

    @media (max-width: $screen-xs-max) {
        width: ($shine-size / $logo-xs-reduction);
        height: ($shine-size / $logo-xs-reduction);
        margin-left: (-$shine-size / (2 * $logo-xs-reduction));
        margin-top: (-$shine-size / (2 * $logo-xs-reduction) + $logo-vertical-offset / $logo-xs-reduction);
    }

    /* Animation */
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(20deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(20deg);}
}

.the-quotes {
    position: absolute;
    height: $navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    text-align: center;
}

.character-quote {
    display: inline-block;
    color: white;
    background: #333;
    position: absolute;
    width: 25%;
    height: 100%;
    line-height: $navbar-height;
    font-size: $navbar-height / 3;
    font-weight: bold;
}
.character-quote-hidden {
    display: none;
}
.character-quote-first {
    left: 0;
}
.character-quote-second {
    left: 25%;
}
.character-quote-third {
    left: 50%;
}
.character-quote-fourth {
    left: 75%;
}

@media (max-width: $screen-md-max) {
    .character-quote {
        width: 33.333333%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second {
        left: 33.333333%
    }
    .character-quote-third {
        left: 66.666667%
    }
    .character-quote-fourth {
        display: none;
    }
}
@media (max-width: $screen-sm-max) {
    .character-quote {
        width: 50%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second {
        left: 50%;
    }
    .character-quote-third, .character-quote-fourth, {
        display: none;
    }
}
@media (max-width: $screen-xs-max) {
    .character-quote {
        width: 100%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second, .character-quote-third, .character-quote-fourth, {
        display: none;
    }
}


.character-quote-red {
    background-color: darken($character-color-red, 10%);
    border-color: $character-color-red;
}

.character-quote-blue {
    background-color: darken($character-color-blue, 10%);
    border-color: $character-color-blue;
}

.character-quote-green {
    background-color: darken($character-color-green, 10%);
    border-color: $character-color-green;
}

.character-quote-yellow {
    background-color: darken($character-color-yellow, 10%);
    border-color: $character-color-yellow;
}


.the-game, .the-characters, .the-team, .the-store {
    background: white;
}

.team-members {
    $picture-size: 256px;

    padding: 0;
    margin: 0;

    .member {

        display: block;
        position: relative;
        min-height: $picture-size;

        list-style: none;
        margin: 0;

        img {
            position: absolute;
            top: 0;
            width: $picture-size;
            height: $picture-size;
        }

        .member-content {
            padding-left: 1em;
            padding-right: 1em;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
            margin-top: 0.8em;
        }
    }

    .member-left {
        img {
            left: 0;
        }
        .member-content {
            margin-left: $picture-size;
        }
    }

    .member-right {
        img {
            right: 0;
        }
        .member-content {
            margin-right: $picture-size;
        }
    }
}