---
---
@charset "utf-8";
@import "bootstrap/bootstrap/_variables";
* { box-sizing: border-box; }

@font-face {
    font-family: "Big Noodle Titling";
    src: url("{{ '/fonts/big-noodle-titling.ttf' | prepend: site.baseurl }}");
}

$character-color-red: #900;
$character-color-blue: #06B;
$character-color-green: #191;
$character-color-yellow: #A90;

$color-bg-darkred: #7f1020;
$color-fg-white: #FDD;

body, html {
    height: 100%;
    margin: 0;
    padding: 0;

    font-size: 18px;
    overflow-y: auto;
    overflow-x: hidden;
}

.anchor {
    margin-top: (-$navbar-height);
    padding-top: $navbar-height;
}

.the-team > .container-fluid {
    padding: 0;
}

h1 {
    text-align: center;
    font-family: "Big Noodle Titling";
    font-size: 64px;
    letter-spacing: 0.03em;
    padding: 0.15em;

    background: $color-bg-darkred;
    color: $color-fg-white;

    text-shadow: 0 -1px 1px black;
    
    a, a:hover {
        text-decoration: none;
        color: inherit;
    }

    &:before, &:after {
        content: "—";
        padding: 0.3em;
    }
}

@media (max-width: $screen-xs-max) {
    h1 {
        font-size: 48px;
    }
}

h2 {
    font-family: "Big Noodle Titling";
    font-size: 48px;
    font-variant: small-caps;
}

.parallax-container {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    /*
    html.csstransforms3d & {
                perspective: 1px;
        -webkit-perspective: 1px;
           -moz-perspective: 1px;
    }*/
}

.navbar-brand {
    color: white !important;
    text-transform: uppercase;
    font-family: "Big Noodle Titling", sans;
    font-size: 24pt;
}

.navbar-nav li {
    text-transform: uppercase;
    font-family: "Big Noodle Titling";
    font-size: 18pt;

    a {
        color: #999 !important;

        &:hover {
            color: white !important;
        }
    }
}

.first-screen {
    position: relative;
    height: 100%;
}

.the-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    overflow: hidden;

    /*
    html.csstransforms3d & {
                transform: translateZ(-1px) scale(2);
        -webkit-transform: translateZ(-1px) scale(2);
           -moz-transform: translateZ(-1px) scale(2);
    }*/
}

$logo-size: 350px;
$logo-width: $logo-size;
$logo-height: $logo-size * 355 / 350;
$logo-vertical-offset: 0;
$logo-xs-reduction: 0.75;
$shine-size: ($logo-size * 2);

.logo {
    position: absolute;
    margin: 3em;
    left: 50%;
    top: 50%;

    z-index: 50;

    width: $logo-width;
    height: $logo-height;
    margin-left: (-$logo-width / 2);
    margin-top: (-$logo-height / 2) + $logo-vertical-offset;

    @media (max-width: $screen-xs-max) {
        width: ($logo-width * $logo-xs-reduction);
        height: ($logo-height * $logo-xs-reduction);
        margin-left: (-$logo-width * $logo-xs-reduction / 2);
        margin-top: (-$logo-height * $logo-xs-reduction / 2 + $logo-vertical-offset);
    }
}

.logo-shine {
    position: absolute;
    margin: 3em;
    left: 50%;
    top: 50%;

    z-index: 20;

    width: $shine-size;
    height: $shine-size;
    margin-left: -($shine-size / 2);
    margin-top: -($shine-size / 2) + $logo-vertical-offset;

    @media (max-width: $screen-xs-max) {
        width: ($shine-size * $logo-xs-reduction);
        height: ($shine-size * $logo-xs-reduction);
        margin-left: (-$shine-size * $logo-xs-reduction / 2);
        margin-top: (-$shine-size * $logo-xs-reduction / 2 + $logo-vertical-offset * $logo-xs-reduction);
    }

    /* Animation */
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(-20deg);}
    to {-webkit-transform: rotate(20deg);}
}
@keyframes rotate {
    from {transform: rotate(-20deg);}
    to {transform: rotate(20deg);}
}

.the-quotes {
    position: absolute;
    height: $navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    text-align: center;
    z-index: 300;
}

.character-quote {
    display: inline-block;
    color: white;
    background: #333;
    position: absolute;
    width: 25%;
    height: 100%;
    line-height: $navbar-height;
    font-size: $navbar-height / 3;
    font-weight: bold;
}
.character-quote-hidden {
    display: none;
}
.character-quote-first {
    left: 0;
}
.character-quote-second {
    left: 25%;
}
.character-quote-third {
    left: 50%;
}
.character-quote-fourth {
    left: 75%;
}

@media (max-width: $screen-md-max) {
    .character-quote {
        width: 33.333333%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second {
        left: 33.333333%
    }
    .character-quote-third {
        left: 66.666667%
    }
    .character-quote-fourth {
        display: none;
    }
}
@media (max-width: $screen-sm-max) {
    .character-quote {
        width: 50%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second {
        left: 50%;
    }
    .character-quote-third, .character-quote-fourth, {
        display: none;
    }
}
@media (max-width: $screen-xs-max) {
    .character-quote {
        width: 100%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second, .character-quote-third, .character-quote-fourth, {
        display: none;
    }
}


.character-quote-red {
    background-color: darken($character-color-red, 10%);
    box-shadow: 0 0 2em -0.5em lighten($character-color-red, 10%) inset;
}

.character-quote-blue {
    background-color: darken($character-color-blue, 10%);
    box-shadow: 0 0 2em -0.5em lighten($character-color-blue, 10%) inset;
}

.character-quote-green {
    background-color: darken($character-color-green, 10%);
    box-shadow: 0 0 2em -0.5em lighten($character-color-green, 10%) inset;
}

.character-quote-yellow {
    background-color: darken($character-color-yellow, 10%);
    box-shadow: 0 0 2em -0.5em lighten($character-color-yellow, 10%) inset;
}


.the-game, .the-characters, .the-team, .the-store {
    h1 {
        margin-top: 0;
    }
}

.the-characters, .the-team, .the-store {
    margin-top: 3em;
}

.character-descriptions {
    img {
        margin: 0 1em;
    }

    .character-description-red strong {
        color: darken($character-color-red, 5%);
    }
    .character-description-blue strong {
        color: darken($character-color-blue, 5%);
    }
    .character-description-green strong {
        color: darken($character-color-green, 5%);
    }
    .character-description-yellow strong {
        color: darken($character-color-yellow, 5%);
    }
}

.the-team h1 {
    margin-bottom: 0;
}

.team-members {
    $picture-size: 256px;

    padding: 0;
    margin: 0;

    .member {
        display: block;
        position: relative;
        min-height: $picture-size;

        list-style: none;
        margin: 0;

        .member-picture {
            position: absolute;
            top: 0;
            width: $picture-size;
            height: $picture-size;
            overflow: hidden;
            img {
                width: 100%;
            }
        }

        .member-content {
            padding-left: 1em;
            padding-right: 1em;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
            margin-top: 0.8em;
        }
    }

    .member-left {
        .member-picture {
            left: 0;
        }
        .member-content {
            margin-left: $picture-size;
        }
    }

    .member-right {
        .member-picture {
            right: 0;
        }
        .member-content {
            margin-right: $picture-size;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .team-members {
        $picture-height: 192px;

        .member {
            min-height: $picture-height;
            padding-bottom: 1em;

            .member-picture {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: $picture-height;
                z-index: 0;

                img {
                    margin-top: -20%;
                }
            }

            .member-content {
                position: relative;
                padding-left: 1em;
                padding-right: 1em;
                z-index: 200;
            }

            h2 {
                margin-top: 0;
                margin-bottom: 0;
                text-align: center;
                color: white;
                font-size: 64px;

                text-shadow: 0 0 0.5em black;
            }

            p {
                margin-bottom: 0;
                margin-top: 0.8em;
            }
        }

        .member-left, .member-right {
            .member-content {
                padding-top: $picture-height - 64px;
                margin: 0;
            }
        }
    }
}