---
---
@charset "utf-8";

@import "bootstrap/bootstrap/_variables";

@font-face {
    font-family: "Big Noodle Titling";
    src: url("{{ '/fonts/big_noodle_titling.ttf' | prepend: site.baseurl }}");
}

$character-color-red: #900;
$character-color-blue: #06B;
$character-color-green: #191;
$character-color-yellow: #A90;

body {
    padding-top: $navbar-height;
}

body, html {
    height: 100%;
}

.navbar-brand {
    color: white !important;
    text-transform: uppercase;
    font-family: "Big Noodle Titling", sans;
    font-size: 24pt;
}

.first-screen {
    position: relative;
    height: 100%;
}

.the-logo {
    text-align: center;
    padding: 0;
}

.logo {
    position: relative;
    display: inline-block;
    margin: 3em;

    width: 40%;


    /*
    transition: all 100ms;

    &:hover {
        $logo-hover-extra: 0.1;
        height: ($logo-height * (1 + $logo-hover-extra));
        margin-top: ($logo-margin - $logo-height * $logo-hover-extra * 0.5);
        margin-bottom: ($logo-margin - $logo-height * $logo-hover-extra * 0.5);
    }
    */
}



.the-quotes {
    position: absolute;
    bottom: 0;
    background: black;
    text-align: center;
}

.character-quote {
    display: inline-block;
    margin: 0.6em;
    padding: 0.6em 1.2em;
    border-width: 0.2em;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #666;
    color: white;
    background: #333;
}


.character-quote-red {
    background-color: darken($character-color-red, 10%);
    border-color: $character-color-red;
}

.character-quote-blue {
    background-color: darken($character-color-blue, 10%);
    border-color: $character-color-blue;
}

.character-quote-green {
    background-color: darken($character-color-green, 10%);
    border-color: $character-color-green;
}

.character-quote-yellow {
    background-color: darken($character-color-yellow, 10%);
    border-color: $character-color-yellow;
}