---
---
@charset "utf-8";
@import "bootstrap/bootstrap/_variables";
* { box-sizing: border-box; }

@font-face {
    font-family: "Big Noodle Titling";
    src: url("{{ '/fonts/big-noodle-titling.ttf' | prepend: site.baseurl }}");
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);

$character-color-red: #900;
$character-color-blue: #06B;
$character-color-green: #191;
$character-color-yellow: #A90;

$color-bg-darkred: #7f1020;
$color-fg-white: #FDD;

a, a:hover {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

body, html {
    margin: 0;
    padding: 0;

    height: 100%;
    min-height: 100%;

    font-size: 18px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
}

@media (max-width: $screen-sm-max) {
    body, html {
        font-size: 17px;
    }
}

@media (max-width: $screen-xs-max) {
    body, html {
        font-size: 16px;
    }
}

.navbar {
    margin: 0;
}

.navbar-padding {
    height: 0;
    padding: 0;
    margin: 0;
    margin-bottom: $navbar-height;
}

.anchor {
    margin-top: (-$navbar-height);
    padding-top: $navbar-height;
}

.the-team > .container-fluid {
    padding: 0;
}

h1.full-header {
    text-align: center;
    font-family: "Big Noodle Titling";
    font-size: 64px;
    letter-spacing: 0.03em;
    padding: 0.15em;

    background: $color-bg-darkred;
    color: $color-fg-white;

    text-shadow: 0 -1px 1px black;
    
    a, a:hover {
        text-decoration: none;
        color: inherit;
    }

    &:before, &:after {
        content: "—";
        padding: 0.3em;
    }
}

@media (max-width: $screen-xs-max) {
    h1.full-header {
        font-size: 48px;
    }
}

h2 {
    font-family: "Big Noodle Titling";
    font-size: 48px;
    font-variant: small-caps;
}

.navbar-brand {
    color: white !important;
    text-transform: uppercase;
    font-family: "Big Noodle Titling", sans-serif;
    font-size: 24pt;
}

.navbar-nav li {
    text-transform: uppercase;
    font-family: "Big Noodle Titling";
    font-size: 18pt;

    a {
        color: #BBB !important;

        &:hover {
            color: white !important;
        }
    }
}

.first-screen {
    position: relative;
    height: 100%;
    margin-top: (-$navbar-height);
}

.character-header {
    position: absolute;
    display: block;

    width: 160px;
    height: 256px;

    /* BIG SCREEN */

    &.character-header-red {
        left: 5%;
        bottom: 35%;
        z-index: 80;
    }

    &.character-header-blue {
        left: 15%;
        bottom: 15%;
        z-index: 90;
    }

    &.character-header-green {
        right: 15%;
        bottom: 15%;
        z-index: 90;
    }

    &.character-header-yellow {
        right: 5%;
        bottom: 35%;
        z-index: 80;
    }

    /* TINY SCREEN */
    @media (max-width: $screen-xs-max) {
        width: (160px * 0.8);
        height: (256px * 0.8);

        &.character-header-red {
            left: 0;
            bottom: 35%;
        }

        &.character-header-blue {
            left: 5%;
            bottom: 15%;
        }

        &.character-header-green {
            right: 5%;
            bottom: 15%;
        }

        &.character-header-yellow {
            right: 0;
            bottom: 35%;
        }
    }
}

.the-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //z-index: 50;

    overflow: hidden;

    /*
    html.csstransforms3d & {
                transform: translateZ(-1px) scale(2);
        -webkit-transform: translateZ(-1px) scale(2);
           -moz-transform: translateZ(-1px) scale(2);
    }*/
}

$logo-size: 350px;
$logo-width: $logo-size;
$logo-height: $logo-size * 355 / 350;
$logo-vertical-offset: -18px;
$logo-xs-reduction: 0.75;
$shine-size: ($logo-size * 2);

.logo {
    position: absolute;
    margin: 3em;
    left: 50%;
    top: 50%;

    z-index: 150;

    width: $logo-width;
    height: $logo-height;
    margin-left: (-$logo-width / 2);
    margin-top: (-$logo-height / 2) + $logo-vertical-offset;

    @media (max-width: $screen-xs-max) {
        width: ($logo-width * $logo-xs-reduction);
        height: ($logo-height * $logo-xs-reduction);
        margin-left: (-$logo-width * $logo-xs-reduction / 2);
        margin-top: (-$logo-height * $logo-xs-reduction / 2 + $logo-vertical-offset);
    }
}

.logo-shine {
    position: absolute;
    margin: 3em;
    left: 50%;
    top: 50%;

    z-index: 50;

    width: $shine-size;
    height: $shine-size;
    margin-left: -($shine-size / 2);
    margin-top: -($shine-size / 2) + $logo-vertical-offset;

    @media (max-width: $screen-xs-max) {
        width: ($shine-size * $logo-xs-reduction);
        height: ($shine-size * $logo-xs-reduction);
        margin-left: (-$shine-size * $logo-xs-reduction / 2);
        margin-top: (-$shine-size * $logo-xs-reduction / 2 + $logo-vertical-offset * $logo-xs-reduction);
    }

    /* Animation */
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: rotate;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.languages {
    position: absolute;

    top: $navbar-height - 10px;
    left: 0;
    right: 0;

    text-align: right;
    padding: 8px;

    z-index: 150;

    li {
        padding: 0;
        display: inline-block;
    }
}

$social-width: 400px;

.social-buttons {
    position: absolute;
    bottom: $navbar-height + 4px;
    left: 50%;
    margin-left: -$social-width / 2;
    width: $social-width;
    text-align: center;
    z-index: 300;
}

@media (max-width: $social-width) {
    .social-buttons {
        width: 100%;
        margin-left: 0;
        left: 0;
        right: 0;
    }
}

.the-quotes {
    position: absolute;
    height: $navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    text-align: center;
    z-index: 300;
}

.character-quote {
    display: inline-block;
    color: white;
    background: #333;
    position: absolute;
    width: 25%;
    height: 100%;
    line-height: $navbar-height;
    font-size: $navbar-height / 3;
    font-weight: bold;
}
.character-quote-hidden {
    display: none;
}
.character-quote-first {
    left: 0;
}
.character-quote-second {
    left: 25%;
}
.character-quote-third {
    left: 50%;
}
.character-quote-fourth {
    left: 75%;
}

@media (max-width: $screen-md-max) {
    .character-quote {
        width: 33.333333%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second {
        left: 33.333333%
    }
    .character-quote-third {
        left: 66.666667%
    }
    .character-quote-fourth {
        display: none;
    }
}
@media (max-width: $screen-sm-max) {
    .character-quote {
        width: 50%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second {
        left: 50%;
    }
    .character-quote-third, .character-quote-fourth, {
        display: none;
    }
}
@media (max-width: $screen-xs-max) {
    .character-quote {
        width: 100%;
    }
    .character-quote-first {
        left: 0;
    }
    .character-quote-second, .character-quote-third, .character-quote-fourth, {
        display: none;
    }
}


.character-quote-red {
    background-color: darken($character-color-red, 10%);
    box-shadow: 0 0 2em -0.5em lighten($character-color-red, 10%) inset;
}

.character-quote-blue {
    background-color: darken($character-color-blue, 10%);
    box-shadow: 0 0 2em -0.5em lighten($character-color-blue, 10%) inset;
}

.character-quote-green {
    background-color: darken($character-color-green, 10%);
    box-shadow: 0 0 2em -0.5em lighten($character-color-green, 10%) inset;
}

.character-quote-yellow {
    background-color: darken($character-color-yellow, 10%);
    box-shadow: 0 0 2em -0.5em lighten($character-color-yellow, 10%) inset;
}


.the-game, .the-characters, .the-team, .the-store {
    h1 {
        margin-top: 0;
    }

    p {
        text-align: justify;
    }
}

.the-characters, .the-team, .the-store {
    margin-top: 3em;
}

.character-descriptions {
    .character-title {
        margin-top: 1em;
    }
    .character-title-even {
        text-align: right;
    }
    .character-title-odd {
        text-align: left;
    }

    @media (max-width: $screen-xs-max) {
        .character-title, .character-title-even, .character-title-odd {
            text-align: center;
        }
    }

    a {
        color: inherit;
        font-weight: bold;
    }
    .character-name {
        font-size: 110%;
    }
    .character-description-red .character-name {
        color: darken($character-color-red, 5%);
    }
    .character-description-blue .character-name {
        color: darken($character-color-blue, 5%);
    }
    .character-description-green .character-name {
        color: darken($character-color-green, 5%);
    }
    .character-description-yellow .character-name {
        color: darken($character-color-yellow, 5%);
    }
}

.character-picture-container {
    text-align: center;
    padding: 1em 0 ;
}

.the-team h1 {
    margin-bottom: 0;
}

.team-members {
    $picture-size: 256px;

    padding: 0;
    margin: 0;

    .member {
        display: block;
        position: relative;
        min-height: $picture-size;

        list-style: none;
        margin: 0;

        .member-picture {
            position: absolute;
            top: 0;
            width: $picture-size;
            height: $picture-size;
            overflow: hidden;

            img {
                width: 150%;
                margin-left: -25%;
            }
        }

        .member-content {
            padding-left: 1em;
            padding-right: 1em;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0.1em;
        }

        p {
            margin-bottom: 0;
            margin-top: 0.8em;
        }
    }

    .member-left {
        .member-picture {
            left: 0;
        }
        .member-content {
            margin-left: $picture-size;
        }
    }

    .member-right {
        .member-picture {
            right: 0;
        }
        .member-content {
            margin-right: $picture-size;
        }
    }
}

@media (max-width: $screen-xs-max) {
    .team-members {
        $picture-height: 192px;

        .member {
            min-height: $picture-height;
            padding-bottom: 1em;

            .member-picture {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: $picture-height;
                z-index: 0;

                img {
                    margin-top: -20%;
                    margin-left: 0;
                    width: 100%;
                }
            }

            .member-content {
                position: relative;
                padding-left: 1em;
                padding-right: 1em;
                z-index: 200;
            }

            h2 {
                padding-top: 0;
                margin-top: 0;
                margin-bottom: 0;
                text-align: center;
                color: white;
                font-size: 64px;

                text-shadow: 0 0 0.5em black;
            }

            p {
                margin-bottom: 0;
                margin-top: 0.8em;
            }
        }

        .member-left, .member-right {
            .member-content {
                padding-top: $picture-height - 64px;
                margin: 0;
            }
        }
    }
}

.the-store {
    .store-container {
        position: relative;
    }

    .store-item {
        opacity: 0.5;
        transition: opacity 500ms;
    }

    .coming-soon-stamp {
        $height: 180px;

        position: absolute;

        top: 50%;
        height: $height;
        line-height: 100px;
        margin-top: -$height / 2;

        left: 50%;
        width: 600px;
        margin-left: -300px;

        text-align: center;
        overflow: visible;

        font-size: 64pt;
        font-family: "Big Noodle Titling";
        color: red;
        text-transform: uppercase;
        border: 0.1em solid red;
        border-radius: 0.3em;

        background: white;
        transform: rotate(-8deg);

        //box-shadow: 0 0 1em 0.5em white;
        opacity: 0.8;
        transition: opacity 500ms;

        small {
            font-size: 60%;
            line-height: 32px;

            position: relative;
            top: -0.8em;
        }
    }

    .store-container:hover, .store-container-fade {
        .store-item {
            opacity: 1;
        }
        .coming-soon-stamp {
            opacity: 0.15;
        }
    }
}

.kickstarter {
    margin: 1em;
    text-align: center;

    .ks-text {
        font-weight: bold;
        font-size: 32pt;
        text-transform: uppercase;
        color: #0f2105;

        @media (max-width: $screen-xs-max) {
            font-size: 24pt;
        }
    }

    .ks-text-green {
        @extend .ks-text;
        color: #2bde73;
    }

    .ks-logo {
        max-width: 100%;
    }
}

/* === BLOG-SPECIFIC === */

hr {
    margin: 0.5em;
}

.post-excerpt {
    h1 {
        font-family: "Big Noodle Titling", sans-serif;
        font-size: 42pt;
        color: black;

        a, a:hover {
            color: inherit;
        }

        small {
            margin-left: 0.25em;
        }
    }

    .read-more::after {
        content: "»";
        padding-left: 0.3em;
    }
}

.post-excerpt-short {
    h1 {
        margin-top: 0.1em;
    }
}