---
layout: base
permalink: /
scripts:
  - /js/character-quotes.js
---

<!-- LOGO AND MAIN VIEW -->
<div class="first-screen">
  <div class="container-fluid the-logo">
    <img id="shine" class="logo-shine" src="{{ '/img/shine2.svg' | prepend: site.baseurl }}" />
    <img class="logo" alt="The Lord of the P.I.G.S." src="{{ '/img/pigs-logo.svg' | prepend: site.baseurl }}" />
  </div>

  <!-- THINGS CHARACTERS SAY -->
  <div class="container-fluid the-quotes">
  {% for quote in site.data.quotes %}
    <a href="#character-{{ quote.class }}">
      <div class="character-quote character-quote-{{ quote.class }} character-quote-{% cycle 'first','second','third','fourth' %}">{{ quote.text }}</div>
    </a>
  {% endfor %}
    </div>
</div>

<!-- THE GAME -->
<div class="the-game">
  <h1 class="full-header"><a class="anchor" id="game">The Game</a></h1>
  <div class="container">
    {{ site.data.texts.gameDescription | markdownify }}
    {% include support-us-big.html %}
    <hr/>
    {{ site.data.texts.gameGameplay | markdownify }}
    </div>
</div>

<!-- THE CHARACTERS -->
{% include characters.html %}

<!-- THE TEAM -->
<!--{% include team.html %}-->

<!-- THE STORE -->
{% include store.html %}