<div class="the-characters">
  <h1 class="full-header"><a class="anchor" id="characters">The Characters</a></h1>
  <div class="container">
    {{ site.data.texts.charactersIntro | markdownify }}
    <hr/>
    <div class="character-descriptions">
    {% for character in site.data.characters %}
      {% capture evenodd %}{% cycle 'odd','even' %}{% endcapture %}
      {% if evenodd == 'odd' %}
        <div class="row">
          <div class="col-md-2 hidden-xs hidden-sm character-picture-container">
            <img alt="{{ character.name }}" src="{{ character.picture | prepend: site.baseurl }}"/>
          </div>
          <div class="col-md-8">
      {% endif %}
      <div class="character-description-{{ character.class }}">
        <p class="character-name-and-title"><a class="anchor" id="character-{{ character.class }}">
          <strong class="character-name">{{ character.name }}</strong>, {{ character.title }}
        </a></p>
        {{ character.text | markdownify }}
      </div>
      {% if evenodd == 'even' %}
          </div>
          <div class="col-md-2 hidden-xs hidden-sm character-picture-container">
            <img alt="{{ character.name }}" src="{{ character.picture | prepend: site.baseurl }}"/>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
</div>