<div class="the-characters">
  <h1 class="full-header"><a class="anchor" id="characters">The Characters</a></h1>
  <div class="container">
    {{ site.data.texts.charactersIntro | markdownify }}
    <hr/>
    <div class="character-descriptions">
    {% for character in site.data.characters %}
      {% capture evenodd %}{% cycle 'odd','even' %}{% endcapture %}
      <div class="row">
      {% if evenodd == 'odd' %}
        <div class="col-sm-2 hidden-xs character-picture-container">
          <img alt="{{ character.name }}" src="{{ character.picture | prepend: site.baseurl }}"/>
        </div>
      {% endif %}
        <div class="col-sm-10">
          <div class="character-description-{{ character.class }}">
            <p class="character-title character-title-{{ evenodd }}"><a class="anchor" id="character-{{ character.class }}">
              <strong class="character-name">{{ character.name }}</strong>, {{ character.title }}
            </a></p>
            {{ character.text | markdownify }}
          </div>
        </div>

      {% if evenodd == 'even' %}
        <div class="col-sm-2 hidden-xs character-picture-container">
          <img alt="{{ character.name }}" src="{{ character.picture | prepend: site.baseurl }}"/>
        </div>
      {% endif %}
      </div>
    {% endfor %}
    </div>
</div>