<section class="the-store">
  <h1 class="full-header"><a class="anchor" id="store">{{ site.data.texts[page.lang].titles.store }}</a></h1>

  <div class="container store-container"><div class="store-item">
    {{ site.data.texts[page.lang].storeInfo | markdownify }}
<!--{% for item in site.data.store %}
    <div class="store-item">
        <h2>{{ item.title }}</h2>
        {{ item.description | markdownify }}
    </div>
{% endfor %}-->

    </div>

    <div class="coming-soon-stamp">
        {{ site.data.texts[page.lang].stamp.on_ks_pre }}
        <br/>
        <img alt="Kickstarter" src="{{ '/img/kickstarter.png' | prepend: site.baseurl }}" height="56"/>
        <br/>
        {{ site.data.texts[page.lang].stamp.on_ks_post }}
    </div>
  </div>

</section>