---
layout: html
---

<style>
h1 {
  font-family: "Big Noodle Titling";
  text-transform: uppercase;
  text-align: center;
  font-size: 48pt;
}
.ks {
  color: white;
}
.ks img {
  margin: -1px 0.3em 0;
}
.ks-intro-question {
  padding: 1em;
  text-align: center;
  font-style: italic;
}
.ks-intro-answer {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.ks-content {
  position: relative;
  text-align: justify;
}
img {
  max-width: 100%;
}
.ks-pic {
  padding: 1em 2em;
  text-align: center;
  font-size: 14pt;
}
.ks-pic img {
  margin-bottom: 1em;
}
h3 {
  font-weight: bold;
}
</style>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/{{ page.lang }}/#">The Lord of the P.I.G.S.</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="ks"><a href="{{ site.kickstarter }}">
        Ver la Campaña
        <img height="20" alt="Kickstarter" src="/img/kickstarter-light.png"/>
        &raquo;
      </a></li>
    </ul>
  </div>

</nav>

<div class="navbar-padding"></div>

<div class="container">
  <div class="row">
    <div class="ks-content col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<h1>The Lord of the P.I.G.S.</h1>
{{ content }}
    </div>
  </div>
</div>