---
layout: html
---

<style>
h1 {
    font-family: "Big Noodle Titling";
    text-transform: uppercase;
    text-align: center;
    font-size: 48pt;
}
.ks-intro-question {
    padding: 1em;
    text-align: center;
    font-style: italic;
}
.ks-intro-answer {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.ks-content {
    position: relative;
    text-align: justify;
}
img {
    max-width: 100%;
}
.ks-pic {
    padding: 1em 2em;
    text-align: center;
    font-size: 14pt;
}
.ks-pic img {
    margin-bottom: 1em;
}
h3 {
    font-weight: bold;
}
</style>

<div class="container">
  <div class="row">
    <div class="ks-content col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<h1>The Lord of the P.I.G.S.</h1>
{{ content }}
    </div>
  </div>
</div>