---
layout: base
---

{% assign lang_field_pre = "lang_" %}
{% assign lang_field_post = "_link" %}

{% for lang in site.langs %}
  {% capture lang_field %}{{ lang_field_pre }}{{ lang[0] }}{{ lang_field_post }}{% endcapture %}
  {% if page[lang_field] %}{% assign more_langs = true %}{% endif %}
{% endfor %}

<article class="post">
  <div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h1 class="full-header">{{ page.title }}</h1>

    {% if more_langs %}
      <aside class="alert alert-info post-lang-warning"><p>
        {{ site.data.texts[page.lang].postLangs | markdownify | remove: '<p>' | remove: '</p>'}}
        {% for lang in site.langs %}
          {% capture lang_field %}{{ lang_field_pre }}{{ lang[0] }}{{ lang_field_post }}{% endcapture %}
          {% if page[lang_field] %}
            <a class="alert-link" href="{{ site.baseurl }}{{ page[lang_field] }}">
              {{ lang[1] }}</a>
          {% endif %}
        {% endfor %}
      </p></aside>
    {% endif %}

    {{ content }}

    <hr/>

    {% include social-share.html %}

  </div></div></div>

  <hr/>

  <footer class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% include disqus.html %}
  </div></div></footer>
</article>